header {
  background-color: rgb(56, 181, 83);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 130px 10px 130px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

header > nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.logo {
  height: 130px;
}

.link {
  font-size: 26px;
  text-decoration: none;
  text-transform: lowercase;
  color: rgb(250, 250, 250);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link:hover::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  height: 0.2rem;
  background-color: rgb(250, 250, 250);
  animation: hoverAnimation 0.2s forwards;
}

.icons {
  fill: rgb(250, 250, 250);
  font-size: 30px;
  margin-right: 10px;
}

@keyframes hoverAnimation {
  from {
    width: 0;
    left: 50%;
  }
  to {
    width: 100%;
    left: 0;
  }
}

@media (max-width: 40rem) {
  header {
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  header > nav {
    display: none;
  }
}
